@{
    ViewBag.Title = "教育经历";
}

<div class="ace-paper-stock">
    <main class="ace-paper clearfix">
        <div class="ace-paper-cont clear-mrg">

            <!-- START: PAGE CONTENT -->

            <div class="padd-box">

                <section class="section clear-mrg">
                    <h2 class="title-lg text-upper">教育经历</h2>

                    <div class="padd-box-sm clear-mrg">
                        <div class="ref-box brd-btm hreview">
                            <div class="ref-avatar">
                                <img alt="" src="~/Content/img/uploads/avatar/gxmzsf.jpg" class="avatar avatar-54 photo" height="54" width="54">
                            </div>

                            <div class="ref-info">
                                <div class="ref-author">
                                    <strong>广西民族师范学院</strong>
                                    <span>本科（2013-09-1 至 2017-06-27）</span>
                                </div>

                                <blockquote class="ref-cont clear-mrg">
                                    <strong>1.专业课程</strong>
                                    <p>
                                        • C语言（一个学期）、ASP.NET（三个学期）、算法与数据结构（三个学期）、Android开发（一个学期）、数据库SqlServer，MySQL
                                        ，Oracle（一个学期）、Linux命令（一个学期）、JAVA语言，J2EE框架开发（三个学期）、设计模式【开发者模式、策略模式、 装饰模式、适配器模式、简单工厂模式】（一个学期）。
                                    </p>
                                </blockquote>

                                <blockquote class="ref-cont clear-mrg">
                                    <strong>2.课程设计</strong>
                                    <p>
                                        • Android-智能聊天APP：当时对接百度API中的免费智能开放接口、天气预告。

                                    </p>
                                    <p>
                                        • c# Winfrom[校园宿舍管理系统]
                                    </p>
                                    <p>
                                        • Java应用程序 五子棋人工或智能对战开发【按权重对比进行智能对战】
                                    </p>
                                    <p>
                                        • Asp.NET - 广西民族师范学院超市网站
                                    </p>
                                    <p>
                                        • J2EE - 广西民族师范学院超市网站
                                    </p>
                                    <p>
                                        • 毕业设计 - 广西民族师范学院超市网站【基于JAVA语言开发】
                                    </p>
                                </blockquote>
                            </div>
                        </div><!-- .ref-box -->

                    </div><!-- .padd-box-sm -->
                </section><!-- .section -->

            </div><!-- .padd-box -->
            <!-- END: PAGE CONTENT -->

        </div><!-- .ace-paper-cont -->
    </main><!-- .ace-paper -->
</div><!-- .ace-paper-stock -->