@{
    ViewBag.Title = "未来规划";
}

<div class="ace-paper-stock">
    <main class="ace-paper clearfix">
        <div class="ace-paper-cont clear-mrg">

            <!-- START: PAGE CONTENT -->

            <div class="padd-box">

                <section class="section clear-mrg">
                    <h2 class="title-lg text-upper">未来规划</h2>

                    <div class="padd-box-sm clear-mrg">
                        <div class="ref-box brd-btm hreview">

                            <div class="ref-info">

                                <blockquote class="ref-cont clear-mrg">
                                    <strong>1.毕业</strong>
                                    <p>
                                        • 解决家中经济困境，稳定发展，并学习公司项目中所学的技术，打好基础。

                                    </p>
                                    <p>
                                        • 增加前期节奏，完成目标。
                                    </p>
                                </blockquote>

                                <blockquote class="ref-cont clear-mrg">
                                    <strong>2.现况稳定</strong>
                                    <p>
                                        • 增加收入，并提升自身能力，学习先进知识。

                                    </p>
                                    <p>
                                        • 前往科技发达城市，闯荡江湖。
                                    </p>
                                </blockquote>
                                <blockquote class="ref-cont clear-mrg">
                                    <strong>2.后期阶段</strong>
                                    <p>
                                        • 结婚生子，完成三十而立的小目标。

                                    </p>
                                    <p>
                                        • 开创自己所属人生。
                                    </p>
                                </blockquote>

                            </div>
                        </div><!-- .ref-box -->

                    </div><!-- .padd-box-sm -->
                </section><!-- .section -->

            </div><!-- .padd-box -->
            <!-- END: PAGE CONTENT -->

        </div><!-- .ace-paper-cont -->
    </main><!-- .ace-paper -->
</div><!-- .ace-paper-stock -->