@{
    ViewBag.Title = "神男码农";
}

<div class="ace-paper-stock">
    <main class="ace-paper clearfix">
        <div class="ace-paper-cont clear-mrg">

            <!-- START: PAGE CONTENT -->
            <div class="padd-box clear-mrg">
                <section class="section brd-btm">
                    <div class="row">
                        <div class="col-sm-12 clear-mrg text-box">
                            <h2 class="title-lg text-upper">关于自己</h2>

                            <p>
                                <b>大家好, 梁泽祥!</b><br>
                                认真完成领导交给的任务，学习能力强，善于沟通，善于找出问题关键并解决问题，不喜欢没有事做的工作，喜欢专研新的技术。不喜欢把今天的事情留给明天，加班也要完成任务。
                                讨厌公务员式的工作，喜欢紧而有序工作。程序员就是要多加班才能提升自己哦.
                            </p>

                            <p class="text-right">
                                <img src="~/Content/img/uploads/signature.png" alt="">
                            </p>
                        </div>
                    </div>
                </section><!-- .section -->

                <section class="section brd-btm">
                    <div class="row">
                        <div class="col-sm-6 clear-mrg">
                            <h2 class="title-thin text-muted">个人信息</h2>

                            <dl class="dl-horizontal clear-mrg">
                                <dt class="text-upper">姓名</dt>
                                <dd>梁泽祥</dd>

                                <dt class="text-upper">出生日期</dt>
                                <dd>1996-12-06</dd>

                                <dt class="text-upper">地址</dt>
                                <dd>
                                    广西南宁横县
                                </dd>

                                <dt class="text-upper">e-mail</dt>
                                <dd><a href="mailto:960842214@qq.com">960842214@qq.com</a></dd>

                                <dt class="text-upper">电话</dt>
                                <dd>+159****3273</dd>

                                <dt class="text-upper">github账号</dt>
                                <dd>GodProgrammerMan[神男码农]   2019-4-15：学习MongoDB连接开源代码-<a href="https://github.com/GodProgrammerMan/DomeMongodb" target="_blank">https://github.com/GodProgrammerMan/DomeMongodb</a></dd>

                                <dt class="text-upper">职业</dt>
                                <dd>程序员</dd>
                            </dl>
                        </div><!-- .col-sm-6 -->

                        <div class="col-sm-6 clear-mrg">
                            <h2 class="title-thin text-muted">语言</h2>

                            <div class="progress-bullets ace-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                                <strong class="progress-title">English</strong>
                                <span class="progress-bar">
                                    <span class="bullet fill"></span>
                                    <span class="bullet fill"></span>
                                    <span class="bullet fill"></span>
                                    <span class="bullet fill"></span>
                                    <span class="bullet fill"></span>
                                    <span class="bullet "></span>
                                    <span class="bullet "></span>
                                    <span class="bullet "></span>
                                    <span class="bullet "></span>
                                    <span class="bullet "></span>
                                </span>
                                <span class="progress-text text-muted">熟练度</span>
                            </div>

                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                </section><!-- .section -->

                <section class="section brd-btm">
                    <div class="row">
                        <div class="col-sm-9 clear-mrg">
                            <h2 class="title-thin text-muted">技能评价</h2>

                            <dl class="dl-horizontal clear-mrg">
                                <dt class="text-upper">语言技能</dt>
                                <dd>.Net、Java语言、c语言、Linux、Pyhone，安卓开发</dd>

                                <dt class="text-upper">数据库</dt>
                                <dd>MySQL\SqlServer\Oracle</dd>

                                <dt class="text-upper">专业技能</dt>
                                <dd>掌握html、css、js、vue、nodejs	、Tomcat基础,</dd>

                                <dt class="text-upper">管理能力</dt>
                                <dd>
                                    前后多次担任项目组织管理者，分配与开发项目，并把握项目进度。
                                </dd>
                                <dt class="text-upper">现场应变能力</dt>
                                <dd>大型选房活动出现技术问题，能快速让系统恢复正常运转。</dd>
                            </dl>
                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                </section><!-- .section -->


                <section class="section brd-btm">
                    <div class="row">
                        <div class="col-sm-12 clear-mrg">
                            <h2 class="title-thin text-muted">爱好</h2>

                            <ul class="icon-list icon-list-col3 clearfix">
                                <li><span class="ace-icon ace-icon-music"></span> 听音乐</li>
                                <li><span class="ace-icon ace-icon-blog"></span> 打篮球</li>
                                <li><span class="ace-icon ace-icon-music"></span> 唱歌</li>
                                <li><span class="ace-icon ace-icon-blog"></span> 跑步</li>
                                <li><span class="ace-icon ace-icon-blog"></span> 玩游戏</li>
                                <li><span class="ace-icon ace-icon-blog"></span> 健身</li>
                            </ul>
                        </div>
                    </div>
                </section><!-- .section -->

                <section class="section">
                    <h2 class="title-thin text-muted">荣誉奖励</h2>

                    <div class="row">
                        <div class="col-sm-6 clear-mrg">
                            <div class="award-box">
                                @*<figure class="award-img">
                                    <img src="~/Content/img/uploads/awards/award-01.png" alt="">
                                </figure>*@

                                <h3 class="award-title">学校阶段</h3>

                                <div class="award-text text-muted clear-mrg">
                                    <p>
                                        所持证书：计算机二级等证书
                                        本科阶段：校级三好学生、优秀学生干部
                                    </p>
                                </div>
                            </div>
                        </div><!-- .col-sm-6 -->

                        <div class="col-sm-6 clear-mrg">
                            <div class="award-box">
                                @*<figure class="award-img">
                                    <img src="~/Content/img/uploads/awards/award-02.png" alt="">
                                </figure>*@

                                <h3 class="award-title">工作阶段</h3>

                                <div class="award-text text-muted clear-mrg">
                                    <p>工作阶段：2017-2018年住朋购友文化传媒有限公司-优秀员工</p>
                                </div>
                            </div>
                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                </section><!-- .section -->
            </div><!-- .padd-box -->
            <!-- END: PAGE CONTENT -->

        </div><!-- .ace-paper-cont -->
    </main><!-- .ace-paper -->
</div><!-- .ace-paper-stock -->
