@{
    ViewBag.Title = "工作经历";
}

<div class="ace-paper-stock">
    <main class="ace-paper clearfix">
        <div class="ace-paper-cont clear-mrg">

            <!-- START: PAGE CONTENT -->

            <div class="padd-box">

                <section class="section clear-mrg">
                    <h2 class="title-lg text-upper">工作经历</h2>

                    <div class="padd-box-sm clear-mrg">
                        <div class="ref-box brd-btm hreview">
                            <div class="ref-avatar">
                                <img alt="" src="~/Content/img/uploads/avatar/zpgy.png" class="avatar avatar-54 photo" height="54" width="54">
                            </div>

                            <div class="ref-info">
                                <div class="ref-author">
                                    <strong>广西住朋购友文化传媒有限公司</strong>
                                    <span>.NET程序员（2017-02-11 至 2019-04-27）</span>
                                </div>

                                <blockquote class="ref-cont clear-mrg">
                                    <strong>1.智慧旅游</strong>
                                    <p>
                                        • 景区管理、酒店管理、特色商业街夜区管理、价格、分配统计。
                         
                                    </p>
                                    <p>
                                        • 修改设计缺陷，涉及的技术栈：ASP.NET、Redis等
                                    </p>
                                </blockquote>

                                <blockquote class="ref-cont clear-mrg">
                                    <strong>2.导客系统</strong>
                                    <p>
                                        • 权限分配、客户层级分配营销、客户营销统计、企业、团队业绩统计、分配统计。

                                    </p>
                                    <p>
                                        • 修改设计缺陷，涉及的技术栈：SqlSugar ORM、Quartz、Faker.Net、NPOI、Redis等
                                    </p>
                                </blockquote>

                                <blockquote class="ref-cont clear-mrg">
                                    <strong>3.选房系统（<a href="http://room.web.zp365.com" target="_blank">http://room.web.zp365.com</a>）</strong>
                                    <p>
                                        • 负责开发网站管理后台：①购房客户管理②选房订单管理③开盘活动管理④核销与房源管理⑤客户进入系统凭证管理⑥系统账单对账、资金流水，网站客户端：①我的购房订单②开盘活动详情③微信、支付宝、银联三大支付对接。后期维护与开发新的需求功能-调度系统（认购选房功能），开盘现场技术支持等

                                    </p>
                                    <p>
                                        • 负责各个系统交互运行与部署，涉及的技术栈：SignalR、SqlSugar ORM、Quartz、Faker.Net、NPOI、Redis等
                                    </p>
                                </blockquote>

                                <blockquote class="ref-cont clear-mrg">
                                    <strong>4.住朋网（<a href="http://zp365.com/" target="_blank">http://zp365.com/</a>）</strong>
                                    <p>
                                        • 开发新房列表模块与小区模块，对应的后台管理模块，捉取其他网站平台的信息，整合完善我们网站的信息，减少运营成本，接口对接app文档等。

                                    </p>
                                    <p>
                                        • 修改设计缺陷，涉及的技术栈：SqlSugar ORM、Quartz、Faker.Net、NPOI、Redis等
                                    </p>
                                </blockquote>
                            </div>
                        </div><!-- .ref-box -->

                    </div><!-- .padd-box-sm -->
                </section><!-- .section -->

            </div><!-- .padd-box -->
            <!-- END: PAGE CONTENT -->

        </div><!-- .ace-paper-cont -->
    </main><!-- .ace-paper -->
</div><!-- .ace-paper-stock -->